.image-front {
    width: 60%;
}



.fa-shopify {
    transform: scale(1.5);
    position: absolute;
    margin-right: 80px;
    margin-top: 2px;
}



.background-img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    z-index: 0;
    width: 100%;
    height: 60%;
}

.mx-8 {
    margin-left: 8%;
    margin-right: 8%;
}

.btn-primary {
    border: none;
    background: #5C6AC4;
}

.text-main {
    color: #5C6AC4;
}


.w-custom-1 {
    width: 450px;
}

.w-custom-2 {
    width: 59%;
}

.w-custom-3 {
    width: 39%;
}



.to-place::before {
    border-top: 2px solid #000;
}

.to-place::after {
    border-bottom: 1px solid #000;
    width: 60%;
    height: 2px;
    margin: auto;

}

.clients {
    transform: scale(0.8)
}
